body{
    /* height: 50px; */
    background-color: #001632;
    color: white;
}

h1:first-child{
    color: #808b99;
}

main{
    width: 85%;
    margin: 0 auto;

}

main div.container{
    background-color: white;
    color: black;
}